<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998380980557-4nbkv83n93j88qin2d5ge21j7fjutkn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998380980557-4nbkv83n93j88qin2d5ge21j7fjutkn0</string>
	<key>API_KEY</key>
	<string>AIzaSyCdnMc7mXPs8uJJonnINw-LZne9__eOFqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>998380980557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanpg</string>
	<key>PROJECT_ID</key>
	<string>fanpg-fb0aa</string>
	<key>STORAGE_BUCKET</key>
	<string>fanpg-fb0aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998380980557:ios:c8283e3808f44c9a81cf04</string>
</dict>
</plist>